{
  "apiKeySecretRef": {
    "name": "constellix-credentials",
    "key": "apiKey"
  },
  "apiSecretSecretRef": {
    "name": "constellix-credentials",
    "key": "secretKey"
  },
  "zones": [
    { "dnsName": "example.com", "zoneId": 111 },
    { "dnsName": "sub.example.com", "zoneId": 222 }
  ],
  "insecure": false
}
